h3 {
    font-size: 20px;
}

.error_message {
    padding: 10px;
    background-color: #C6537B;
    color: #FFF;
}

.success_message {
    padding: 10px;
    background-color: #99D581;
    color: #FFF;
}