{% extends 'base/base_admin.html' %}

{% load staticfiles %}

{% block title %}
Edit Passowrd
{% endblock %}

{% block title_page %}
<h3>Edit Password</h3>
{% endblock %}

{% block styles %}
  {% load staticfiles %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock styles %}

{% block content %}
<div class="collection">
	<a class="collection-item" href="{% url 'client:edit' %}">Perfil</a>
	<a class="collection-item active" href="{% url 'client:edit_password' %}">Contrseña</a> 
	<a class="collection-item" href="{% url 'client:edit_social' %}">Redes Sociales</a> 
</div>

<div class="class_container_form">
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Cambiar Contraseña" />
	</form>
</div>
 
{% endblock content %}
