{% extends "base/base_admin.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<section class="hero is-fullheight">
  <div class="hero.is-small hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <div class="box">
          <p class="subtitle is-4 has-text-grey">Inicia sesión para continuar</p><br>
          <form method="POST">
            {% csrf_token %}

            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input name="username" class="input is-medium" type="text" required placeholder="Nombre de Usuario">
                <span class="icon is-medium is-left">
                  <i class="fas fa-user"></i>
                </span>
              </p>
            </div>

            <div class="field">
              <p class="control has-icons-left">
                <input name="password" class="input is-medium" type="password" required placeholder="Contraseña">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
            </div>
            <button class="button is-block is-info is-medium is-fullwidth">Login</button><br>
            <p class="subtitle is-6">Inicie sesión utilizando las redes sociales</p>
            <button class="button is-medium is-white" title="Github"><i class="fab fa-github" ></i></button>
            <button class="button is-medium is-white" title="Twitter"><i class="fab fa-twitter"></i></button>
            <button class="button is-medium is-white" title="Google +"><i class="fab fa-google-plus-g"></i></button>
          </form>
        </div>
        <p class="has-text-grey">
          <a href="{% url 'client:create' %}">Registrarse</a> &nbsp;·&nbsp;
          <a href="#">Olvide mi contraseña</a> &nbsp;·&nbsp;
          <a href="#">Ayuda?</a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}