{% extends "base/base_admin.html" %}

{% block title %}Admin Projects{% endblock title %}

{% block styles %}
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bulma-utilities.css' %}">
{% endblock styles %}
	
{% block content %}
<article class="message is-dark has-margin-t-7">
  <div class="message-body">
    <div class="level">
      <div class="level-left">
        Bienvenido al administrador de proyectos &nbsp;<strong> {{ user.username }} </strong>.
      </div>
      {% if not user.is_authenticated or user.is_anonymous %}
      <div class="level-right">
        <a class="button is-link" href="{% url 'client:login' %}">Login</a>
      </div>
      {% endif %}
    </div>
  </div>
</article>
{% endblock content %}
