{% extends "base/base_admin.html" %}
{% load staticfiles %}

{% block title %}Colaborador Proyecto{% endblock title %}
	
{% block content %}
  <h4>Colaborador {{ user.username }}</h4>

	{% if has_permission %}
		<p>Puedes modificar el permiso</p>

		<div>
			<form method='POST'>
				{% csrf_token %}
				{% include "includes/_forms.html" with form=form only %}
				<input class='btn #9E9E9E grey' type='submit' value='Actualizar'>
			</form>
		</div>

		<br>

		<a href="{% url 'project:delete_contributor' project.slug user.username %}">Eliminar de colaboradores</a>
	{% endif %}

{% endblock content %}

{% block footer %}

{% endblock footer %}