{% extends "base/base_admin.html" %}

{% block styles %}
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bulma-utilities.css' %}">
{% endblock styles %}

{% block content %}
<div class="columns has-padding-4">
  <div class="column is-6">
    <form method='POST' action="{% url 'project:create' %}">
        {% csrf_token %}
      
        <div class="subtitle is-4 has-margin-t-6">
          Nuevo Proyecto
        </div>
      
        {% include "includes/projects/_forms.html" with form=form only %}
      
        <hr>
        
        <div class="field">
          <div class="control">
              <input class="button is-link" type="submit" value="Guardar Proyecto" >
          </div>
        </div>
    </form>
  </div>
</div>
{% endblock content %}

