{% extends "base/base_admin.html" %}

{% block title %}{{ project.title }}{% endblock title %}

{% block styles %}
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/bulma-utilities.css' %}">
{% endblock styles %}
	

{% block content %}
  <div class="level">
    <div class="level-left has-margin-t-4">
      <div class="subtitle is-4">
        Administrador 
      </div>
    </div>
  </div> 

  <article class="message is-info">
    <div class="message-body">
      <div class="level">
        <div class="level-left">
          <strong>Proyecto: </strong>&nbsp;{{ project.title }} 
        </div>
        {% if has_permission %}
        <div class="level-right">
          <strong>
            <a href="{% url 'project:contributors' project.slug %}"> Contribuidores</a>
          </strong>
          &nbsp;.&nbsp;
          <strong>
            <a href="{% url 'project:edit' project.slug %}"> Editar</a>
          </strong>
        </div>
      {% endif %}
      </div>
    </div>
  </article>
  
{% endblock content %}

{% block footer %}

{% endblock footer %}